@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.features {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  gap: 26px;
  margin-top: 25px;
  grid-area: features;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }

  &__icon {
    @include iconSize();
  }

  &__text {
    display: flex;
    align-items: center;
    @include FontFamilyBody(13px);
    line-height: 138%;
    letter-spacing: 0.03em;
  }
}