@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.reviewSlider {
  &__container {
    :global(.swiper-slide) {
      width: 100% !important;
      height: auto;
      display: flex;
    }
  }
}