@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.orderBlock {
  display: flex;
  flex-direction: column;
  gap: 23px;
  @include ContentPaddingInline;
  width: 100%;

  @include onDesktop {
    gap: 46px;
    max-width: 1000px;
    margin-inline: auto;
  }

  &__list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 41px;
  }

  &__btn {
    align-self: center;
    margin-top: 18px;

    @include onDesktop {
      width: 365px;
      margin-top: 10px;
    }
  }
}