@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.customSlider {
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
  justify-self: center;
  width: 355px;
  // width: min(355px, 100%);

  @include onDesktop {
    // width: 100%;
    width: 1000px;
    margin-inline: auto;
  }

  :global(.swiper-slide) {

    // width: 300px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1a1f3c;
    padding: 8px 16px;

    &:hover {
      opacity: 0.6;
    }

    &_control_right {
      transform: rotate(180deg);
    }
  }

  // &__mainShadow {
  //   box-shadow: 0 3px 10px 1px $box-shadow;
  // }

  &__main {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible !important;

    // overflow: hidden !important;

    // :global(.swiper-wrapper) {
    //   padding: 10px; // місце для тіні
    // }

    // border-radius: $border-radius;

    :global(.swiper-slide) {
      width: 300px; // фіксована ширина
    }

    &__title {
      position: absolute;
      bottom: -10px;
      overflow: visible;
    }

    :global(.swiper-slide) {
      display: flex;
    }

  }

  &__pagination {
    width: 8px;
    height: 8px;
  }

  &__paginationList {
    position: absolute;
    bottom: -20px;
    z-index: 2;

    :global(.swiper-pagination-bullet) {
      --swiper-pagination-color: black;
      --swiper-pagination-bullet-inactive-color: #{$gray};
      --swiper-pagination-bullet-inactive-opacity: 1;
      width: 8px;
      height: 8px;
    }
  }

  &__mainWrap {
    position: relative;
    min-width: 288px;
    display: flex;
    align-items: center;
    // visibility: hidden;
    // padding: 10px;
    overflow: hidden !important;
  }
}