@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.separator {
  background-color: $gray;
  opacity: 0.5;
  // height: 1px;
  // width: 100%;
  min-height: 1px;
  margin-top: 20px;
  align-self: stretch;
}