@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.userReviews {
  display: flex;
  flex-direction: column;
  gap: 40px;

  :global(.customSlider) {
    width: 400px;
  }

  &__btnContainer {
    @include ContentPaddingInline;
    width: 100%;

    @include onDesktop {
      padding-inline: 0;
    }
  }

  &__sliderContainer {
    @include onDesktop {}
  }

  &__title {
    @include ContentPaddingInline;
    @include FontFamilyBody(15px, $color: $text-extra-light);
    line-height: 153%;
    letter-spacing: 0.03em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__bg {
    display: flex;
  }

  &__bgImage {
    display: flex;
    width: 100%;
  }
}