@use '@/styles/_variables' as *;
@use '@/styles/_mixins.scss' as *;

.btnContent {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  @include onDesktop {
    max-width: $max-btn-width;
    margin-inline: auto;
  }
}