@use '@/styles/variables' as *;
@use '@/styles/_mixins.scss' as *;

.btnContent {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  &__stars {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;

    &__text {
      @include FontReview();
    }
  }
}